* {
    box-sizing: border-box;
    font-family: "ballo_paaji_2regular";
  }
  
  @font-face {
    font-family: "ballo_paaji_2regular";
    src: url("./assets/fonts/baloopaaji2-regular-webfont.woff2")
        format("woff2"),
        url("./assets/fonts/baloopaaji2-regular-webfont.woff")
        format("woff");
        font-weight: normal;
        font-style: normal;
  }
  
  ul,ol {
    list-style: none;
  }
  
  body {
    margin-top: 100px;
  }
  h1 {
    margin-top: 250px;
  }
  p.one {
    display: block;
    position: relative;
    margin-right: 0;
    right: 70px;
    bottom: 145px;
    height: 155px;
    width: 250px;
    opacity: 0%;
  }
  p.one:hover {
    color: rgb(2, 97, 205);
    border: 5px dotted #ff0;
    border-radius: 27px;
    opacity: 100%;
    display: block;
    height: 35px;
  }
  h1.one {
    color: #dd5;
    font-size: 77px;
    border: 10px solid #a33;
    display: inline;
    padding: 25px 30px;
    margin-top: 1155px;
    margin-left: 77px;
    margin-right: 99px;
    margin-bottom: 55px;
    border-radius: 27px;
    box-shadow: 5px 5px 90px 15px rgba(50, 150, 200, 2.0);
  }
  h1.two {
    color:#d53;
    margin-top: 77px;
    margin-left: 99px;
  }
  h1.two:hover {
    color: #f00;
    border: 5px dotted #ff0;
    border-radius: 27px;
    display: inline;
    position: relative;
    top: 45px;
  }
  p {
    font-size: 23px;
    color: #5e5;
    margin-left: 100px;
  }
  p:hover {
    color: #0f0;
    border: 5px dotted #ff0;
    border-radius: 27px;
    display: inline;
    position: relative;
  }
  button.on {
    color: #a33;
    background: #dd4;
    padding: 15px 35px;
    border: 5px double #ea3589;
    font-size: 25px;
    border-radius: 25px;
    margin-right: 35px;
  }
  button.one {
    color: #a33;
    background: #dd4;
    padding: 15px 35px;
    border: 5px double #ea3589;
    font-size: 25px;
    border-radius: 25px;
    margin-right: 35px;
    margin-left: 150px;
  }
  button.a {
    color: rgb(255, 145, 0);
    background: #00f;
    padding: 15px 35px;
    border: 5px double #ea3589;
    font-size: 25px;
    border-radius: 25px;
    margin-right: 35px;
    margin-left: 100px;
  }
  button.b {
    color: rgb(255, 145, 0);
    background: #f00;
    padding: 15px 35px;
    border: 5px double #ea3589;
    font-size: 25px;
    border-radius: 25px;
    margin-right: 35px;
  }
  button.c {
    color: rgb(255, 145, 0);
    background: #ff0;
    padding: 15px 35px;
    border: 5px double #ea3589;
    font-size: 25px;
    border-radius: 25px;
    position: absolute;
    left: 100px;
    top: 883px;
  }
  button.d {
    color: rgb(255, 145, 0);
    background: #0f0;
    padding: 15px 35px;
    border: 5px double #ea3589;
    font-size: 25px;
    border-radius: 25px;
    margin-right: 235px;
    position: absolute;
    left: 399px;
    top: 885px;
  }